[viewBag]
==
{% for item in items %}


{% if(item.items) %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{item.title}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        {% for item in item.items %}

        <a class="dropdown-item" href="{{item.url}}">{{item.title}}</a>

        {% endfor%}
    </div>
</li>


{% else %}


<li class="nav-item {{ item.isActive ? 'active' : '' }}">
    <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
</li>


{% endif %}



{% endfor %}